* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #222831;
  --bg-secondary: #393E46;
  --accent: #00ADB5;
  --text: #EEEEEE;
  --text-muted: #aaaaaa;
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
}