annotated-types==0.7.0
asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
idna==3.18
mysqlclient==2.2.8
nflreadpy==0.1.5
platformdirs==4.10.0
polars==1.41.2
polars-runtime-32==1.41.2
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
tqdm==4.68.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
